*{
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: red;
    font-size: 25px;
    font-weight: normal; 
}

.box{
    color: white;
    background-color: black;
    width: 150px;
    height: 150px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid blue 5px;
    border-radius: 10px 0 10px 0;
}

.container{
    display: flex;
}